<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Our Products</h1>
  <figure class="inline-block">
    <a href="https://play.google.com/store/apps/details?id=com.aresproductions.booksummaries">
      <img src="/img/book_summaries.webp" width="128" height="128" alt="Self-Help Book Summaries" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Self-Help Book Sumaries</span>
    <figcaption class="block text-lg font-normal italic">Android App</span>
  </figure>
</div>
