<div class="flex flex-col justify-center h-full py-6">
    <div class="self-center items-center justify-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
      <div class="w-full text-center sm:text-left sm:w-1/10 py-12 sm:px-8">
        <div class="font-light font-mono text-browngray text-2xl my-6">
          <p class="w-full tracking-tighter typeIt"></p>
        </div>
        <h1 class="font-bold tracking-widest text-1xl">Ceka Ares E.E. is a Thessaloniki, Greece based one-man mobile app development company, specializing in creating innovative and user-friendly mobile apps. With the expertise and experience of a single developer, the company provides tailored software services to meet the specific needs of its clients. Ceka Ares E.E. works closely with its clients from concept to launch, to bring their ideas to life and help them achieve their business objectives. With a singular focus on quality and customer satisfaction, Ceka Ares E.E. is the perfect partner for your mobile app development needs.</h1>
      </div>
    </div>
  </div>
  <script>
    new TypeIt(".typeIt", {
      strings: "About Us.",
      speed: 75,
      waitUntilVisible: true
    }).go();
  </script>
